*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #003049;
}

h2{
    background-color: #fdf0d5;
    color: black;
    height: 2.5rem;
    line-height: 2.5rem;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4.25rem;
}
.opt{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    border: #fdf0d5 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.opt:hover{
    background-color: white;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreBoard{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    color: aliceblue;
}
#userSc, #compSc{
    font-size: 4rem;
}
.msg{
    margin-top: 4rem;
}
#msg{
    font-size: 30px;
    background-color: #fdf0d5;
    color: black;
    height: rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}